In [2]:
import pandas as pd

In [3]:
# DataFrame
# A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [4]:
pd.DataFrame({'Yes': [50,21], 'No': [131, 21]})

   Yes   No
0   50  131
1   21   21

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'trash'],
              'Sue': ['aight', 'bet']},
            index=['A', 'B'])

           Bob    Sue
A  I liked it.  aight
B        trash    bet

In [7]:
# Series
# A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [8]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series([30, 35, 40], index=['2020 Sales', '2021 Sales', '2022 Sales'], name='Sales')

2020 Sales    30
2021 Sales    35
2022 Sales    40
Name: Sales, dtype: int64